@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}






                  /* Styling af menuen til venstre */ 
.menu{
  padding: 20px 0px 80px;
  font-size: 17px;
  position: fixed;
}

.menu-items{
  line-height: 35px;
  text-align: start;
}

/* ikoner */ 
.menu-items .fa-solid, .fa-regular, .fa-brands{
  margin-right:10px;
}

/* Logo ikon */ 
.fa-earlybirds{
  color: #1D9BF0;
}

.menu a{
  text-decoration: none;
  color:white;
}

/* Profil */ 
.profile{
  display: flex;
  justify-content:start;
  align-items: center;
  text-align: start;
  gap:15px;
  line-height: 10px;
  margin-top: 30px;
  padding:10px;
  font-size: 14px;
}

.profilepicture{
  width:auto;
  height:40px;
}

.username{
  color:#71767A;
}

/* Styling af inputsfelterne i modal */ 
.mb-3{
  color:black;
}

.modal-backdrop{
  background-color: grey;
  z-index: -1;
}





                  /* Styling af forslag til muligt feed (midten) */ 
.foryou{
  border: 1px solid rgb(80, 78, 78);
  display: flex;
  justify-content: space-evenly;
  margin-left:250px;
  margin-bottom: 15px;

}

.you{
  border-bottom: 1px solid #1D9BF0;
}





                  /* Styling af knapperne */ 
.btn-primary{
  background-color: #1D9BF0;
  padding:7px 80px;
  border-radius: 20px;
  margin:15px;
  border: none;
}

.btn-secondary{
  padding:7px 30px;
  border-radius: 20px;
  margin:15px;
  border: none;
}






                  /* Styling af subscribe, who to follow og trending til højre */ 
.sub{
  border: 1px solid #71767A;
  border-radius: 15px;
  text-align: start;
  padding: 20px;
  margin: 10px;
}

.sub h4{
  font-size: 20px;
}

.sub p{
  font-size: 15px;
}

/* Subscribe knap */ 
.btn-blue{
  background-color:#1D9BF0;
  color: white;
  border:none;
  padding: 5px 20px;
  border-radius: 20px;
}

/* Who to follow til højre */
.follow-profil{
  display: flex;
  justify-content: space-between;
  line-height: 10px;
  margin: 10px 0px;
}

.fa-user-plus{
  color:#1D9BF0;
}

/* Søgte danske trends til højre */
.trend{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  line-height: 6px;
}

.show-more{
  color:#1D9BF0;
  text-decoration: none;

}

.grey{
  color:#71767A;
}

.grey p{
  font-size: 12px;
}






                  /* Styling af pips */ 
/* Styling af tælleren */ 
#charCount {
  font-size: 14px;
  color: grey;
  display: flex;
  justify-content: end;
}


.pip-message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profilepictureFeed {
  width:auto;
  height:40px;
  border-radius: 50%;
}

.pip-message div {
  flex-grow: 1;
}

.username-display {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.message-display {
  color: #555;
}

.feedPost{
  margin-left: 250px;
}

/* rækkefølgen af pips */ 
#pipContainer{
  display: flex;
  flex-direction: column-reverse;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
